*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}
body {

    font-family:Arial, Helvetica, sans-serif;

}
.header{
    height: 100vh;
    background-image: url(https://images.unsplash.com/photo-1523608401-53eb5741c1a0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.about{
    background-color: #000;
}

.timeline{
    background-color: #000;
}

.time h1{
    color: #fa5c4f;
    font-family: 'Dosis', sans-serif;
    padding-top: 1.5%;
    text-transform: uppercase;
    padding-left: 2%;
}

.time p{
    color: rgb(202, 201, 201);
    padding-left: 2%;
    padding-top: 10px;
    line-height: 35px;
    font-size: 1.3em;
    padding-bottom: 20px;
}

.about-title h3{
    color: #fa5c4f;
    font-family: 'Dosis', sans-serif;
    text-align: center;
    padding-top: 1.5%;
    text-transform: uppercase;
}

.about-title h1{
    color: #fa5c4f;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-size: 3.5rem;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1.5px;
}
.about-text{
    color: rgb(202, 201, 201);
    text-align: center;
    padding-top: 10px;
    line-height: 35px;
    font-size: 1.3em;
}

#defite{
    background-image: url(https://images.unsplash.com/photo-1593827435937-03492e8b87d1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1164&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 23rem;
    position: relative;
}

.blend-effect{
    position: relative; 
}

.header .blend-effect-one{
    position: relative; 
}

.header .blend-effect-one .blend-black-unten-head{
    width: 100%;
    height: 100px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 97%);
    bottom: 0px;
    position: absolute;
}


.blend-black-u{
    width: 100%;
    height: 100px;
    background: linear-gradient(180deg, rgba(27,27,27,0) 0%, rgba(27,27,27,1) 97%);
    bottom: 0px;
    position: absolute;
}

.blend-black-oben{
    width: 100%;
    height: 100px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0,0,0,1) 97%);
    position: absolute;
}

.info{
    background-color: #000;
}
li {
    list-style: none;
}

a {
    text-decoration: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0.8rem;
    font-family: 'Montserrat', sans-serif;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    right: 4%;
    position: fixed;
    text-shadow: 0px 1.5px #000000;
    z-index: 1;
}

.nav-item {
    margin-left: 3rem;
}

.nav-link{
    font-size: 1rem;
    font-weight: 400;
    color: #ffffff;
}

.nav-link:hover{
    color: #ff9b92;
    transition: ease-in-out 0.5s;
}

.nav-logo {
    font-size: 2.1rem;
    font-weight: 500;
    color: white;
    font-family: 'Montserrat', sans-serif;
}
.nav-logo span{
    color: #242424;
    font-weight: 700;
    font-size: 50%;
    letter-spacing: 3px;
}

.heading h1{
    color: #fa5c4f;
    padding-bottom: 2%;
    margin-left: 1%;
    font-size: 4.2rem;
}

.heading p{
    padding-bottom: 2%;
    font-size: 1.25rem;
    margin-left: 1%;
    color: white;
}

.welcome{
    position: absolute;
    text-align: center;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.welcome h1{
    color: black;
    font-size: 6em;
    margin: auto;
    font-family: 'Roboto', sans-serif;
}

.welcome h3{
    color: black;
    font-size:1.5em;
    font-family: 'Roboto', sans-serif;
    font-weight: 5;
}

  .footer{
      height: 20em;
      width: 100%;
      background-color: #1b1b1b;
      bottom: 0;
  }
  .footer h3{
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
    text-align: center;
    color: white;
    padding-top: 2%;
}
  .footer p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: #cacdd2;
    text-align: center;
}
.footer-bottom{
    background: #000;
    width: 100%;
    padding: 20px;
    padding-bottom: 40px;
    text-align: center;
}
.footer-bottom p{
    float: left;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
 }
 .footer-bottom p a{
   color:#44bae8;
   font-size: 16px;
   text-decoration: none;
 }
 .footer-bottom span{
     text-transform: uppercase;
     opacity: .4;
     font-weight: 200;
 }
 .footer-menu{
    float: right;
  }
  
  .footer-menu ul{
    display: flex;
  }
  
  .footer-menu ul li{
  padding-right: 10px;
  display: block;
  }
  
  .footer-menu ul li a{
    color: #cfd2d6;
    text-decoration: none;
  }
  
  .footer-menu ul li a:hover{
    color: #27bcda;
  }
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li{
    margin: 0 10px;
}

.socials a{
    text-decoration: none;
    color: #fff;
    padding: 5px;
}

.socials a i{
    font-size: 1.1rem;
    width: 20px;
    transition: color .4s ease;
}

.socials a:hover i{
    color: #fa5c4f;
}

  @media (max-width: 768px) { /*breakpoint*/
    .section {
      float: none;
      width: auto;
    }
  }

  @media (max-width:500px) {
    .footer-menu ul{
      display: flex;
      margin-top: 10px;
      margin-bottom: 20px;
    }
    }

    @media (max-width: 800px) {
        .welcome h1 {
         font-size: 3.1em;
        }
     }

     @media (max-width: 800px) {
        .welcome h3 {
         font-size: 1.1em;
        }
     }

     @media (max-width: 800px) {
        .time {
         margin-right: 8px;
        }
     }

     @media (max-width: 1500px) {
        .about-text {
         margin-right: 2%;
         margin-left: 2%;
        }
     }

     @media (max-width: 800px) {
        .footer p {
         margin-left: 2%;
         margin-right: 2%;
         text-align: center;
         max-width: none; /*Again a hacky fix*/
        }
     }

@media only screen and (max-width: 948px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        z-index: 1;
        background-color: rgb(63, 63, 63);
        width: 100%;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }


    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}